html.theme--documenter-dark body div#documenter nav.docs-sidebar a.docs-logo img {
    max-height: 12.5rem;
}

html.theme--documenter-light body div#documenter nav.docs-sidebar a.docs-logo img {
    max-height: 12.5rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}